body{
    background-image:url(/img/90462.jpg);
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    padding-bottom: 500px;
}
                                                          /*HEADER GENERAL*/
header{
    background-color: rgb(55, 59, 59);
    background: linear-gradient(45deg,rgb(55,59,59),rgb(5, 5, 5));
}

header::after{
    content: '';
    display: table;
    clear: both;
}

nav{
    float: right;
} 

.containerer{
    width: 80%;
    margin:0 auto;
    background: transparent;
}

.containerer h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    display: inline;
    color: white;
    position: fixed;
    left: 100px;

}

.negro{
    color: rgb(26, 26, 26);
}
.blanco2{
    color: whitesmoke;
}

nav ul{
    margin:0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 75px;
    padding-top: 25px;

    position: relative;
}

nav a{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(97, 97, 97);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

/*al pasar el puntero arriba del link cambiara de color*/
nav a:hover{
    color:white;
    text-decoration: none;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color:white;

    position: absolute;
    top: 0;
    width: 0%;
    
    transition: all ease-in-out 100ms;
}

nav a:hover::before{
    width: 100%;
}

                                                    /*  Parte central*/
.centrar{
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}


                        /*boton empezar del home*/
.btn2{
    background-color: #303030;
    color: white;
    font-size: 20px;
}

.centrar-btn{
    display: flex;
    text-align: center;
    justify-content: center;
 }


                                                /*Contenido del jumbotron*/
.jumbotron{
    background: transparent;

}

/* centro el contenido del jumbotron*/
.jumbotron-centrar{
    margin: 0 40%;
    align-content: center;
    justify-content: center;
}

.jumbotron a:hover{
    color:white;
    text-decoration: none;
}


                                                        /*sidebar del index*/
.bgt{
    background: transparent;
}

.bgimg{
    background: url(/img/90462.jpg);
    background-size: cover ;
}

                                                            /*pagina about*/
.containerabout{
    text-align: center;
}

.containerabout h1{
    font-size: 60px;
}


@media screen and (max-width:800px){
    header nav{
        width:60%;
        height: 50%;
        margin: 0;
        position: fixed;
        background: #303030;
        background: linear-gradient(45deg,rgb(55,59,59),rgb(5, 5, 5));
    }
    header nav ul li {
        display: block;
        float: none;
        border-bottom:1px solid rgba(225,225,255,.3);
    }
    header nav a:hover{
        color:white;
        text-decoration: none;
    }
    
    header nav a::before{
        content: '';
        display: inline-block;
        height: 100%;
        width: 5px;
        background-color:rgb(170, 170, 170);
        text-decoration: none;

        right: 0;
        width: 0;
        
        transition: all ease-in-out 100ms;
    }
    header nav a:hover::before{
        width: 50px;
        text-decoration-color: black;
        text-align: center;
    }
    .menu_bar{
        display:block;
        width: 100%;
        background: #ccc;
    }
}